html, body {
    height: 100%;  
    font-family: quattrocento sans,sans-serif;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
    
}

main {
    margin: auto;
    margin-top:3em;
    background-color: #353b43;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

p{
    font-size: 1.8rem;
}

img {
    max-width: 100%;
}

/* Homepage */

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    font-family: "M PLUS Rounded 1c", sans;
    color: white;
    font-size: 8vw;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    .intro > h1 {
      font-size:6em;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .intro > h1 {
      font-size: 3em;
    }
  }

.intro > h2 {
    font-family: "M PLUS Rounded 1c", sans;
    color: #757575;
    font-size: 3vmin;
}

/* Page content */

.content {
    padding-top: 20px;
    text-align:justify;
}

.rnd-img{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    float:left;
    margin:1vh;
   
}

img{
    border: 5px solid #fd9b74;
}

.img-norm{
    border-radius:5px;
}

h1, h3, h4, h5, h6{
    color: #afbac4;
}

h2{
    color:#fd9b74;
}
p{
    color:#737f8a;
    text-align:justify;
}



/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}


.navbar-nav li{
    font-size:1.8vh;
}
/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

footer p{
    text-align:center;
}

.site-hero-content ul{
    margin-top: 3em;
}

.site-hero-content-buttons {
    margin: 0;
    padding: 0;
}

.site-hero-content-buttons li:not(:last-child) {
    margin-right: 30px;
}
.site-hero-content-buttons li {
    display: inline-block;
}

.btn {
    border: none;
    color: #fff !important;
    padding: 20px 45px;
    border-radius: 5;
    background: #fd9b74;
}

.btn:hover{
    border-color:#204d74;
    background-color:#286090;
}

/* Font Awesome styling */
.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.3rem;
    margin:0.2rem;
    position: relative;
  }

.intro .inline-svg{
    height:0.8em;
    width:0.8em;
    top:0.2em;
}

/* Form controls */

.form-control
{
    margin:2rem 0rem;
}


/*=================================================================
  Services section
==================================================================*/
.service-block {
    padding: 60px 20px;
    /*border-left: 1px solid rgba(236, 239, 241, 0.07);
    border-top: 1px solid rgba(236, 239, 241, 0.07);*/
    border:2px solid #737f8a;
    margin-bottom: 40px;
   /* box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3), 13px 13px 0 rgba(255, 255, 255, 0.7);*/
  }
  
  .service-block .service-icon {
    margin-bottom: 10px;
    font-size: 50px;
    color:#737f8a;
  }
  
  /*=================================================================
    Services section 2
  ==================================================================*/
  .service-2 .service-item {
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding: 50px 20px;
    transition: all 0.3s ease 0s;
  }
  
  .service-2 .service-item:hover {
    box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
  }
  
  .service-2 .service-item:hover i {
    background: #fff;
    color: #57cbcc;
  }
  
  .service-2 .service-item i {
    font-size: 30px;
    display: inline-block;
    background: #57cbcc none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    height: 55px;
    line-height: 55px;
    margin-bottom: 20px;
    width: 55px;
    transition: all 0.3s ease 0s;
  }

/* Animated Text */
.cd-headline.clip b{
    font-size:1.8em;
    color:#757575;
}

