<div class="site-hero-content text-center">
  <ul class="site-hero-content-buttons">
    <li>
      <a href="#" class="btn btn-secondary">
        <span class="btn-area">
          <span data-text="">
            This is a button
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="btn btn-primary">
        <span class="btn-area">
          <span data-text="">
            This is a button
          </span>
        </span>
      </a>
    </li>
  </ul>
</div>

