<div class="site-hero-content text-center">
  <ul class="site-hero-content-buttons">
    <li>
      <a href="{{ .Site.Params.banner.secondary_button_url }}" class="btn btn-secondary">
        <span class="btn-area">
          <span data-text="">
            {{ .Site.Params.banner.secondary_button }}
          </span>
        </span>
      </a>
    </li>
    <li>
      <a href="{{ .Site.Params.banner.primary_button_url }}" class="btn btn-primary">
        <span class="btn-area">
          <span data-text="">
            {{ .Site.Params.banner.primary_button }}
          </span>
        </span>
      </a>
    </li>
  </ul>
</div>

