{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subheader" }}

<div class="post-block">
   
    <div class="media-wrapper">
        <img src="{{ .Params.feature_image | absURL }}" class="feature-image-list" alt='{{ .Title }}'/>
    </div>   
    <div class="content">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    
        <h5>{{ $.Scratch.Get "subheader" }}</h5>
        {{ partial "tags" . }}
        <p>{{ .Summary }}</p>
        <a class="btn btn-transparent" href="{{ .Permalink }}">Read More</a>
    </div>
</div>
